/* GENERAL CONFIG */
* {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #000;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0;
    margin: 0;
}

header {
    padding: 0;
}


/* MENU NAV CODE BASE  ON DESKTOP SCREEN */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    width: 70px;
    height: 25px;
    padding: 30px;
    display: flex;
    align-items: baseline;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    list-style: none;
    padding: 30px;
}

nav ul li:hover {
    border-top: #0065FC 1px solid;
}

nav ul li a {
    color: #0065FC;
}

/* FILTER FORM CODE BASE  ON DESKTOP SCREEN */
section.filter-form {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 0 55px;
}

div.filter-form__heading {
    width: max-content;
    display: flex;
    flex-direction: column;
}

.filter-form__heading h1 {
    font-size: 22px;
    font-weight: 700;
}

div.filter-form__search {
    display: flex;
    border-radius: 15px;
    margin-top: 15px;
}

.filter-form__search i, input[type="text"] {
    padding: 13px;
    border: #F2F2F2 1px solid;
}

.filter-form__search i {
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
}

.filter-form__search input[type="text"]:focus {
    outline: none;
}

.filter-form__search input[type="text"]::placeholder {
    border-radius: 15px 0px 0px 15px;
    color: #000;
    font-weight: 700;
}

.filter-form__search input[type="submit"] {
    padding: 13px;
    color: #FFF;
    cursor: pointer;
    background: #0065FC;
    border: #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.filter-form__search button {
    display: none;
}

div.filter-form__options {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    font-weight: 700;
}

.filter-form__options h2 {
    font-size: 18px;
    font-weight: 600;
    margin: auto;
}

.filter-form__options ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    list-style-type: none;
}

.filter-form__options ul li {
    display: flex;
    padding: 10px 25px;
    border: solid #e9ecef 3px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.filter-form__options ul li .fa-solid {
    width: 25px;
    height: 20px;
    color: #0065FC;
}

.filter-form__options ul li:hover {
    background: #DEEBFF;
}

div.filter-form__info {
    display: flex;
    flex-direction: row;
}

.filter-form__info i.fa-solid {
    width: 25px;
    height: 25px;
}

div.filter-form__info {
    display: flex;
    gap: 5px;
    padding: 0;
    align-content: stretch;
}

/* SECTION HEBERGEMENTS */
section#hebergements {
    width: 92%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 35px;
}

/* SECTION HEBERGEMENTS #HEBERGEMENTS A MARSEILLE*/
div.hebergments-marseille {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 25px;
    background: #F2F2F2;
    border-radius: 15px;
}

div.hebergments-marseille p {
    font-size: 18px;
    font-weight: 800;
}

div.cards-marseille {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 15px;
}

div.card {
    width: 30%;
    height: auto;
    background: #FFF;
    padding: 5px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #F2F2F2;
    cursor: pointer;
    transition: transform .2s;
}

div.card:hover {
    transform: scale(1.05);
}

div.card img {
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

div.card .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.card-body h5, .card-body-start {
    margin: 5px;
}

.card-body span {
    margin: 5px;
    font-size: 0.9em;
}

.fa-solid {
    color: #0065FC;
}

.solid-gray {
    color: #F2F2F2;
}

/* SECTION HEBERGEMENTS #LES PLUS POPULAIRES */
div.hebergements-populaires {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 10px 25px;
    background: #F2F2F2;
}

div.hebergements-populaires h2 {
    display: flex;
    justify-content: space-between;
}

div.cards-populaires {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.card-pop {
    width: 100%;
    height: 122px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background: #FFF;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #F2F2F2;
    transition: transform .3s;
}

div.card-pop:hover {
    cursor: pointer;
    transform: scale(1.02);
}

div.card-pop img {
    width: 28%;
    height: auto;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

div.card-pop-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 5px;
}

.card-pop-body h5, .card-pop-body-start {
    margin: 5px;
}

.card-pop-body span {
    margin: 5px;
    font-size: 0.9em;
}

/* SECTION ACTIVITES #HEBERGEMENTS A MARSEILLE*/
section#activites {
    width: 92%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
    margin-top: 15px;
}

section#activites h2 {
    padding-right: 30px;
    padding-left: 30px;
}

div.cards-activites {
    width: auto;
    margin: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

div.card-act {
    width: 23%;
    height: 65%;
    border-radius: 15px;
    box-shadow: 5px 5px #FAFAFA;
    cursor: pointer;
    transition: transform .2s;
}

div.card-act:hover {
    transform: scale(1.05);
    
}

div.cards-activites > .card-act img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

div.card-act-body h5 {
    font-size: 1.2em;
    margin: 0;
    padding: 15px;
    font-weight: 900;
}

/* FOOTER DESIGN CODE HERE */
footer {
    margin-top: 30px;
}

footer ul {
    list-style-type: none;
    list-style: none;
}

div.footer {
    width: 92%;
    background: #F2F2F2;
    margin: auto;
    display: flex;
    padding: 15px;
}

div.a-propos, div.nos-hebergements, div.assistance {
    margin-right: 12em;
}

div.a-propos ul, div.nos-hebergements ul, div.assistance ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    font-weight: 550;
}

/* HEADER CODE BASE  ON MOBILE SCREEN */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    section.filter-form {
        padding: 0 35px;
    }
    
    .filter-form__options ul {
        flex-wrap: nowrap;
        font-size: medium;
    }

    .filter-form__options ul li {
        padding: 5px 18px;
    }

    section#hebergements {
        flex-direction: column;
    }

    div.hebergments-marseille {
        width: 92%;
        margin: auto;
    }

    div.hebergements-populaires {
        width: 92%;
        padding: 20px 25px;
    }

    div.cards-populaires {
        flex-direction: row;
    }

    section#activites {
        width: 92%;
    }

    
    header, main, footer {
        width: 100%;
    }
}

@media  screen and (max-width: 767px) {
    body{
        width: 100%;
        margin: 0px;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    nav img {
        margin: auto;
        padding-bottom: 0;
    }

    nav ul {
        padding: 0px;
        margin-bottom: unset;
    }

    nav ul li {
        width: 50%;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    nav ul li:hover {
        border-top: none;
        border-bottom: #0065FC solid 1.5px;
    }

    /* FILTER FORM CODE BASE  ON MOBILE SCREEN */
    section.filter-form {
        width: 95%;
        padding: 15px;
        margin: 0;
        gap: 10px;
    }

    div.filter-form__heading {
        width: inherit;
    }

    .filter-form__heading h1 {
        font-size: 25px;
        font-weight: 700;
    }

    div.filter-form__search {
        width: 95%;
        margin: auto;
    }

    .filter-form__search input[type="text"] {
        width: 75%;
    }

    .filter-form__search input[type="submit"] {
        display: none;
    }

    .filter-form__search button {
        display: flex;
        color: #FFF;
        cursor: pointer;
        background: #0065FC;
        border: #0065FC;
        border-radius: 0px 15px 15px 0px;
    }

    .filter-form__search button i {
        border-radius: 0;
        background: none;
        border: none;
        color: #FFF;
    }

    div.filter-form__options {
        flex-direction: column;
        margin-top: 15px;
    }

    .filter-form__options h2 {
        margin: 0;
    }

    .filter-form__options ul {
        padding: 0;
    }

    .filter-form__options ul li {
        width: 32%;
    }

    main {
        width: 100%;
    }
    section#hebergements {
        width: 98%;
        margin: 0;
        flex-direction: column-reverse;
    }


    div.hebergements-populaires {
        width: 97%;
        border-radius: 0%;
        padding: 25px;
    }

    div.hebergments-marseille {
        width: 97%;
        border-radius: 0%;
        background: #FFFFFF;
    }

    div.hebergements-populaires h2, div.hebergments-marseille h2 {
        padding-left: 10px;
        font-size: 22px;
        font-weight: bold;
    }

    div.hebergments-marseille p {
        font-size: 22px;
        font-weight: bolder;
        margin-left: 30px;
    }

    div.cards-marseille {
        width: inherit;
        display: flex;
        flex-direction: column;
    }

    div.card {
        width: inherit;
    }

    div.card img {
        height: 130px;
    }

    /* SECTION ACTIVES */
    section#activites {
        width: 98%;
        margin: 18px;
    }
    div.cards-activites {
        width: 97%;
        flex-direction: column;
    }

    div.card-act {
        width: 100%;
        height: 23%;
    }

    div.cards-activites > .card-act img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    /* FOOTER */
    footer {
        width: 100%;
    }
    div.footer {
        width: 98%;
        flex-direction: column;
        margin: 0%;
    }

    div.a-propos, div.nos-hebergements, div.assistance {
        margin-right: 5em;
    }
}

@media screen and (max-width: 350px) {
    .filter-form__options ul li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    section#activites {
        margin: 12px;
    }

    div.footer {
        width: 100%;
    }
}